@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
  box-sizing: border-box;
}

.jContenido {
  font-size: 20px;
}

.jContenidoIzquierda {
  float: left;
  width: 75%;
}

.jContenidoDerecha {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.jContenidoTarjeta {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.jContenido p {
  font-family: "VT323", monospace;
}

.jContenido:after {
  display: table;
  clear: both;
}
